@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,p,table{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
table{
    border: 0;
    margin: auto;
    margin-bottom: 20px;
    border-spacing: 0;
}
th,td{
    border: 1px solid #a4b0be;
    padding: 5px 10px;
    border-color: #a4b0be;
}
.title h2{
    background-color: #30336b;
    text-align: center;
    margin: 10px auto;
    color: #e8e8e8;
    font-size: 30px;
    padding: 10px 0;
    letter-spacing: 1px;
}
.heading{
    background-color: #a4b0be;
}

.picture{
    background-color: #0d1635;
    overflow: hidden;
    padding-bottom: 20px;
}
.img_head h2{
    color: #dee2eb;
    font-size: 30px;
    margin: auto;
    padding: 20px 0;
    letter-spacing: 4px;
}
.images{
    width: 1136px;
    height: 500px;
    margin: auto;
}
.images img{
    width: 33%;
    height: 50%;
    padding: 7px;
}